body {   
background-image: url(wallpaper1.jpg);      
background-position: center center;      
background-repeat: no-repeat;      
background-attachment: fixed;      
background-size: cover;      
 }
@font-face {
    font-family: fallout; 
    src: url(fallout.ttf); 
   }
   h1 {
    font-family: fallout, 'Comic Sans MS', cursive;
   }
@font-face {
    font-family: fallout1; 
    src: url(fallout1.otf); 
   }
   h2 {
    font-family: fallout1, 'Comic Sans MS', cursive;
   }
 a { 
    text-decoration: none;
   } 